/* 

write your code here

*/
@media print {
    @page{
        size: 210mm 297mm;
        margin: 1cm;

    }
    .tm-sidebar, #about, section:not(:first-of-type) {
        display: none;
    }

    .container {
        max-width: 750px;
    }

    .tm-main-content {
        margin-left: 20px;
        padding-left: 0;
    }

    .tm-banner {
        height: 250px;
    }

    .flex-2-col{
        flex-direction: column;
    }

    .tm-content-box {
        margin-bottom: 0;
    }

    .tm-team-description-container {
        max-width: 580px;
        padding: 0;
    }

    h2.tm-section-title {
        color: blue;
    }

    footer {
        margin: 10px;
    }
}

@media screen {

    /*task 1*/
    #about img {
        border-radius: 50%;
    }

    #about .box-bg:hover {
        background-color: rgb(0, 162, 232);
    }

    #about h2:hover {
        color: white;
        font-weight: bold;
    }

    /*task 3 */
    p::first-letter {
        color: #76cdd7;
        line-height: 1.3;
        font-size: 30px;
    }

    /*task 4*/
    .tm-sidebar, .tm-content-box {
        box-shadow: 0 0 24px 1px rgba(0, 0, 0, 0.8);
    }

    /*task 5*/
    #home, section {
        position: relative;
    }

    #home::before, section::before {
        content: '';
        border-top: 25px solid rgb(0, 162, 232);
        border-right: 130px solid transparent;
        position: absolute;
    }

    /*task 6*/
    .carousel-inner h2 {
        color: gainsboro;
        letter-spacing: 5px;
    }

    /*task 7*/
    h2 + p {
        font-style: italic;
    }

    /*task 8*/
    p {
        text-indent: 20px;
        line-height: 1.9;
    }

    /*task 9*/
    .tm-content-box a {
        color: black;
    }

    .tm-content-box a:hover {
        color: #76cdd7;
        text-decoration: underline double;
    }

    .tm-content-box a:visited {
        color: silver;
    }

    .text::after {
        content: 'New';
        color: red;
        vertical-align: super;
        font-size: 10px;
    }

    .heading h2 {
        color: #76cdd7;
        text-align: center;
    }

    /*task 10*/
    .blocks li:nth-child(odd) {
        background-color: rgb(242, 242, 242);
    }

    .blocks li p::first-letter {
        color: black;
    }

    /*task 11*/
    .tm-main-nav li:not(:last-child) {
        border-bottom: 2px silver dotted;
    }

    /*task 12*/
    input[type=text], button[type=submit] {
        color: red;
    }

    .mandatory-field::after {
        content: "*";
        color: red;
        font-weight: bold;
    }

    button[type=submit]:hover {
        background-color: #76cdd7;
        color: white;
        border-color: #76cdd7;
    }
}

