@mixin transition($direction, $second, $variant){
  -webkit-transition: $direction $second $variant;
  transition: $direction $second $variant;
}
%paragraph-text{
  font-family: $textFontParagraph;
  color: $textColorParagraph;
  letter-spacing: $letterSpacing;
  font-size: 11pt;
  line-height: 1.8;
}
%header-text{
  text-transform: uppercase;
  font-family: $textFont;
  font-weight: bold;
  color: $textColorHeaders;
  letter-spacing: $letterSpacing;
  margin: 7px 0 0 0;

}
body {
  width: 960px;
  margin: 0 auto;
  background: $contentBackground;
}

header {
  display: flex;
  img {
    width: 380px;
  }
  nav {
    align-self: flex-end;
    margin-bottom: 50px;
    border-bottom: $border;
    border-top: $border;
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    a {
      text-transform: uppercase;
      text-decoration: none;
      margin-top: 3px;
      color: $textColorNav;
      font-family: $textFont;
      &:hover {
        color: darken($textColorNav, 10%);
        text-decoration:underline;
      }
      &:active {
        color: darken($textColorNav, 20%);
        text-decoration:underline;
      }
    }
  }
}

.toolbar {
  float: right;
  margin-bottom: 20px;

  input[type=text] {
    background-color: transparent;
    box-sizing: border-box;
    height: 35px;
    width: 200px;
    border: 1px solid $textColorNav;
    color: $textColorNav;
    font-family: $textFontParagraph;
    font-size: 11pt;
    padding-left: 20px;
    @include transition(width, 0.4s, ease-in-out);
    &:focus {
      width: 400px;
    }
    &::placeholder{
      color: $textColorNav;
    }
  }
}
.post-list {
  clear: right;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}

article {
  width: 448px;
  background-color: $articleBackground;
  padding: 10px;
  margin-bottom: 20px;
  height: max-content;

  h3{
    @extend %header-text;
  }
  &>div{
    margin: 0 10px;

  }

}
img {
  width: 100%;
}
p{
  @extend %paragraph-text;
  margin: 0 0 20px 0;
  clear: right;
}
.post-description{
  font-family: $textFont;
  font-size: 10pt;
  border-bottom: $border;
  color: $postDescriptionColor;
  padding: 7px;

}
.about{
  padding: 0 10px;
}

form {
  input, textarea {
    box-sizing: border-box;
    font-family: Verdana, Geneva, sans-serif;
    background-color: transparent;
    font-size: 11pt;
    width: 100%;
    border: $border;
    resize: vertical;
    padding: 15px 20px;
    margin: 10px 0;
  }
  button[type=submit] {
    background-color: $textColorNav;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    height: 35px;
    width: 200px;
    color: white;
    border: none;
    float: right;
    &:hover {
      background-color: darken($textColorNav, 10%)
    }
    &:active {
      background-color: darken($textColorNav, 20%)
    }
  }
}

h1, h4 {
    @extend %header-text;
    float: right;
    clear: right;
    color: $textColorNav;
    margin: 0;
  }
h1{
  margin-top:50px;
}
h4{
  margin-bottom: 20px;
}
footer{
  clear: right;
  @extend %paragraph-text;
}
