$contentBackground: #EFEFEF;
$articleBackground: #fff;
$textColorNav: #FC5830;
$textFont: New Century Schoolbook, serif;
$textFontParagraph: New Century Schoolbook, serif;
$letterSpacing: 0;
$postDescriptionColor: #CABEBB;
$textColorHeaders: #617D8A;
$textColorParagraph: #75777E;
$border: 1px solid #CFD8DC;